@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-4">
        <div class="row" style="margin: 25px 10px;">
            <div class="col-md-6">
                <h2 style="margin-bottom: 30px;">Welcome to the Library Management System👋</h2>
                <p style="text-align: justify;">
                    The Library Management System is designed to help manage library resources efficiently.
                    It allows users to add, edit, view, and delete books. This system ensures that no duplicate
                    books are entered into the system and provides an easy-to-use interface for managing the library's inventory.
                    Whether you're managing a small library or a large one, this system will streamline the process of maintaining
                    records and accessing information quickly.
                </p>
            </div>

            <div class="col-md-6">
                <img src="~/Images/library.png" alt="Library Image" class="img-fluid rounded" />
            </div>
        </div>
    </div>
</div>
